{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Our Web-Application</h1>

    <ul>
        <li>This Web-Application is a one-stop shop for companies' financial statement data!</li>
        <li>We built this app to help people easily find financial statements for any company.</li>
        <li>Our application looks to provide users with useful information from a company's financial statements in a fast and efficient manner.</li>
    </ul>


{% endblock %}